@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* #map {
    width: 1156px;
    height: 827px;
} */

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;

}



.logo{
    margin: 5px;
}

.main-content{
    display: flex;
    background: rgb(34,193,195);
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 239, 240);
    padding: 1em;
    font-weight:600;
    letter-spacing: 0.7px;
    font-size: 18px;
}

.map-container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

#map {
    height: 70%;
    width: 70%;
    border: 1em solid rgb(27, 27, 57);
    border-radius: 3px;
}

@media all and (max-width: 600px) {
    .main-content{
        align-items: center;
    }

    .navbar{
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.708);
        margin: 0;
        padding: 2px;
        align-items: center;
        width: 100%;
    }
    .navbar-item{
        margin:3px;
    }
} 