@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* #map {
    width: 1156px;
    height: 827px;
} */

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover{
    transform: scale(1.02);
    filter: brightness(1.1);
    cursor: pointer;
}

.logo{
    padding: 0.7em;
    border-radius: 1px;
}
.background{
    position: absolute;
    background-image: linear-gradient(to bottom, #81d0ec, #69c6ec, #51bbec, #36b0eb, #12a4eb);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.main-content{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #dbf6ffd9;
    font-weight:600;
    letter-spacing: 0.7px;
    font-size: 18px;
    padding: 0 1em;
    /* box-shadow: 0px 5px 20px 0px rgba(3, 51, 77, 0.57); */
}

.navbar-item{
    /* background-color: #37819c; */
    /* background-color: #73ccec; */
    background-color: #a9e0f4;
    width: 100%;
    margin: 0.5em 0.5em;
    padding: 0.2em 0;
    border-radius: 3px;
    /* color: #e0f6ff; */
    color: rgb(1, 24, 48);
    vertical-align: middle;
    align-self: center;
    border: 1px solid #1b85ae;
}


.navbar-login{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin:0.5em 0;
}

.navbar-button{
    margin: 0.3em;
}

.navbar-item:hover{
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.05);
}

.navbar-button{
    background-color: #1b85ae;
    /* color: rgb(5, 41, 49); */
    color: #e1f2f8;
}

.map-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#map {
    height: 100%;
    width: 100%;
    border: 1px solid hsl(197, 100%, 67%);
}


footer{
    margin: 0.1em;
    font-size: 13px;
}
.footer-name{
    color: rgb(7, 12, 109);

}

@media all and (max-width: 750px) {
    .main-content{
        align-items: center;
    }

    .navbar{
        flex-direction: column;
        padding: 0px 2px;
        align-items: center;
        width: 100%;
        padding-top: 2px;
    }
    .navbar-item{
        margin:3px;
        text-align: left;
        width: 40%;
        padding-left: 1em;
    }
    .navbar-login{
        margin-bottom: 0.2em;
        margin-top: 0;
    }
} 

@media all and (max-width : 500px){

    footer{
        font-size: 12px;
    }
}